<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Your-Title-Here" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Your-Page-Description" />
	<title>Warhol | Multipurpose HTML5 Template - One Page</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CMontserrat:400,700%7CPlayfair+Display:400,400italic' rel='stylesheet' type='text/css'>
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min.css" />
	<link rel="stylesheet" href="css/skin.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page">

	<!-- Side Navigation Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="reveal">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="#home" data-offset="-60" class="scroll-link">Home</a>
						</li>
						<li>
							<a href="#services" data-offset="-60" class="scroll-link">Services</a>
						</li>
						<li>
							<a href="#work" data-offset="-60" class="scroll-link">Our Work</a>
						</li>
						<li>
							<a href="#about" data-offset="-60" class="scroll-link">About Us</a>
						</li>
						<li>
							<a href="#clients" data-offset="-60" class="scroll-link">Clients</a>
						</li>
						<li>
							<a href="#contact" data-offset="-60" class="scroll-link">Contact</a>
						</li>
						<li>
							<a href="index.html">Demos</a>
						</li>
						<li>
							<a href="elements-accordions.html">Elements</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation">
					<div class="custom-content">
						<hr class="border-white mt-0 opacity-02">
						<h3 class="widget-title color-grey">Got Questions</h3>
						<p>Have questions about how we work. Just give us a call, we'll be happy to answer any questions you may have</p>
						<p class="lead weight-bold color-grey">+1 857 9873 32</p>
					</div>
				</div>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Side Navigation Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="index.html"><img src="images/logo-dark.png" alt="Warhol Logo" /></a>
									<a href="index.html"><img src="images/logo.png" alt="Warhol Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li>
										<!-- Search -->
										<a href="#search-modal" data-content="inline" data-toolbar="" data-aux-classes="tml-search-modal" data-modal-mode data-modal-width="1000" data-lightbox-animation="fade" data-nav-exit="false" class="lightbox-link nav-icon">
											<span class="icon-magnifying-glass"></span>
										</a>
									</li>
									<li class="aux-navigation">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show side-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-center">
								<ul>
									<li>
										<a href="#home" data-offset="-60" class="scroll-link">Home</a>
									</li>
									<li>
										<a href="#services" data-offset="-60" class="scroll-link">Services</a>
									</li>
									<li>
										<a href="#work" data-offset="-60" class="scroll-link">Our Work</a>
									</li>
									<li>
										<a href="#about" data-offset="-60" class="scroll-link">About Us</a>
									</li>
									<li>
										<a href="#clients" data-offset="-60" class="scroll-link">Clients</a>
									</li>
									<li>
										<a href="#contact" data-offset="-60" class="scroll-link">Contact</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Fullscreen Slider Section -->
				<section id="home" class="section-block featured-media tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.5">
								<div class="tms-content">
									<div class="tms-content-inner center v-align-middle">
										<div class="row">
											<div class="column width-12">
												<h1 class="tms-caption mb-30 color-white font-alt-2 title-xlarge weight-light"
													data-animate-in="preset:slideInUpShort;duration:900ms;delay:100ms;"
													data-no-scale
													>Hola, We're Warhol</h1>
												<div class="clear"></div>
												<div class="tms-caption mb-10 color-white">
													<a href="#services" data-offset="-60" class="tms-caption button medium pill scroll-link border-white bkg-hover-theme color-white color-hover-white"
														data-animate-in="preset:scaleOut;duration:900ms;delay:400ms;"
														data-no-scale
													>See What We Do</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/slider/slide-2-page-intro.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Fullscreen Slider Section End -->

				<!-- Services Section -->
				<div id="services" class="section-block replicable-content bkg-grey-ultralight">
					<div class="row">
						<div class="column width-4">
							<h2 class="mb-50">What We do</h2>
						</div>
						<div class="column width-8">
							<p class="lead text-large color-black weight-bold mb-60 pu-10">Hello! We're a Creative Agency in New York City That Focuses On Design, Development &amp; Illustration.</p>
						</div>
					</div>
					<div class="row flex">
						<div class="column width-4">
							<div class="feature-column small horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;" data-threshold="0.5">
								<div class="feature-text">
									<span class="text-medium font-alt-2">01.</span>
									<h3 class="color-grey">Design</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:100ms;" data-threshold="0.5">
								<div class="feature-text">
									<span class="text-medium font-alt-2">02.</span>
									<h3 class="color-grey">Development</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="feature-column small horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
								<div class="feature-text">
									<span class="text-medium font-alt-2">03.</span>
									<h3 class="color-grey">Illustration</h3>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis cupidatat proident.</p>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<!-- Services Section -->

				<!-- Portfolio Grid -->
				<section id="work">
					<div class="section-block grid-filter-menu center pt-110 pb-70 bkg-white">
						<div class="row">
							<div class="column width-8 offset-2 center horizon font-alt-2" data-animate-in="preset:flipInY;duration:1000ms;" data-threshold="1">
								<h2 class="mb-30">Recent Work</h2>
							</div>
						</div>
						<div class="row">
							<div class="column width-8 offset-2 center">
								<ul>
									<li><a class="active" href="#" data-filter="*">All</a></li>
									<li><a href="#" data-filter=".design">Design</a></li>
									<li><a href="#" data-filter=".identity">Identity</a></li>
									<li><a href="#" data-filter=".photography">Photograhy</a></li>
									<li><a href="#" data-filter=".marketing">Marketing</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="section-block grid-container fade-in-progressively full-width no-margins no-padding-top" data-layout-mode="masonry" data-grid-ratio="1" data-set-dimensions data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
						<div class="row">
							<div class="column width-12">
								<div class="row grid content-grid-4">
									<div class="grid-item grid-sizer wide photography">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-10-wide.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Spring <span class="font-alt-2">&amp;</span> Hippie</span>
															<span class="project-description">for American Apparel</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item photography">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-1-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Discovering Nature's<br> Hidden Gems</span>
															<span class="project-description">for Planet Co</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item design">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-2-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Jump Higher</span>
															<span class="project-description">Esprit Clothing</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item design identity">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-7-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Palm <span class="font-alt-2">&amp;</span> Bananas</span>
															<span class="project-description">for Cinque</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item identity">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-6-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">The Boutique</span>
															<span class="project-description">for Vintage Co</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item design photography">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-5-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Big Beards <span class="font-alt-2">&amp;</span> Home Brewed Ale</span>
															<span class="project-description">for Hendricks Brewery</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div class="grid-item design identity">
										<div class="thumbnail overlay-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
											<a class="overlay-link" href="project-style-one.html">
												<img src="images/portfolio/grid/no-margins/project-9-square.jpg" alt=""/>
												<span class="overlay-info">
													<span>
														<span>
															<span class="project-title">Alike</span>
															<span class="project-description">for Helwen Clothing</span>
														</span>
													</span>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Portfolio Grid End -->

				<!-- About Section -->
				<section id="about">

					<!-- Hero 5 Section -->
					<div class="section-block hero-5 right hero-5-about-5 clear-height show-media-column-on-mobile">
						<div class="media-column width-6"></div>
						<div class="row">
							<div class="column width-5">
								<div class="hero-content split-hero-content">
									<div class="hero-content-inner left horizon" data-animate-in="preset:turnInLeft;duration:1000ms;" data-threshold="0.7">
										<h2 class="mb-50">About Us</h2>
										<p class="lead font-alt-2">Warhol is an elegant multi-purpose template that is big, bold and beautiful.</p>
										<p>It combines elegance, functionality and design. If you are looking for a template that breaks the norm of multi-purpose template design, then Warhold is for you. With some 70+ pages, layouts, components, Warhold gives you a design toolkit to help you create an amazing project for you or your client!</p>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Hero 5 Section End -->

					<!-- Team Grid -->
					<div class="section-block team-2 bkg-grey-ultralight">
						<div class="row">
							<div class="column width-12">
								<div class="row content-grid-3">
									<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
										<h4 class="mb-5">Jason Ford</h4>
										<h4 class="occupation">Developer</h4>
										<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
											<img src="images/team/team-member-1.jpg" width="760" height="500" alt=""/>
										</div>
										<div class="team-content-info">
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
											<ul class="social-list list-horizontal">
												<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-dribbble-with-circle medium"></span></a></li>
											</ul>
										</div>
									</div>
									<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.3">
										<h4 class="mb-5">Michael Andrews</h4>
										<h4 class="occupation">Designer</h4>
										<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
											<img src="images/team/team-member-3.jpg" width="760" height="500" alt=""/>
										</div>
										<div class="team-content-info">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non.</p>
											<ul class="social-list list-horizontal">
												<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-github-with-circle medium"></span></a></li>
											</ul>
										</div>
									</div>
									<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="0.3">
										<h4 class="mb-5">Samuel Banks</h4>
										<h4 class="occupation">Illustrator</h4>
										<div class="thumbnail no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
											<img src="images/team/team-member-4.jpg" width="760" height="500" alt=""/>
										</div>
										<div class="team-content-info">
											<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non.</p>
											<ul class="social-list list-horizontal">
												<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-linkedin-with-circle medium"></span></a></li>
												<li><a href="#"><span class="icon-dribbble-with-circle medium"></span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Team Grid End -->

				</section>
				<!-- About Section -->

				<!-- Client Section -->
				<div id="clients">

					<!-- Logo 1 Section -->
					<div class="section-block logos-1 bkg-white">
						<div class="row">
							<div class="column width-12">
								<div class="row content-grid-5">
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/wicked-logo-grid.svg" alt=""/>
											
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/air-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/meat-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/harvest-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/adventure-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/rosco-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/mont-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/repetition-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/macaw-logo-grid.svg" alt=""/>
										</a>
									</div>
									<div class="grid-item">
										<a href="#">
											<img src="images/logos/techy-logo-grid.svg" alt=""/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Logo 1 Section End -->

					<!-- Feature Column Section -->
					<div class="section-block feature-column-group no-padding">
						<div class="row full-width collapse flex">
							<div class="column width-6 v-align-middle bkg-grey-ultralight">
								<div class="feature-column small center pt-80 pb-80 horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;" data-threshold="0.5">
									<p class="title-xlarge font-alt-2 weight-light color-theme pu-20 mb-10">20+ years</p>
									<p class="weight-bold tex-large pu-20 mb-mobile-50">Our Combined Experience</p>
								</div>
							</div>
							<div class="column width-6 bkg-theme color-white">
								<div class="feature-column">
									<div class="testimonial-slider tm-slider-container">
										<ul class="tms-slides">	
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="xlarge">
																<p>Incredible work! Best creative experience ever; timely, well executed and one hell of the result. Would recommend Nietszche to anyone who is looking to revamp their identity.
																	<cite>John K. Riley - Harvest Goods.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="xlarge">
																<p>A five star agency without doubt. Hire them!
																	<cite>John A. Adams - Repetition</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="xlarge">
																<p>Creativity redefined. These guys offer a unique approach to every aspect of design and the result is simply stunning.
																	<cite>Jane Lariken - MUD Clothing.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-content-scalable">
													<div class="row">
														<div class="column width-12">
															<blockquote class="xlarge">
																<p>Design, design and redesign is their motto. Warhol won't stop until they have the perfect match between functionality and esthetic.
																	<cite>Jack Tromso - Orcha Co.</cite>
																</p>
															</blockquote>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Feature Column Section End -->

				</div>
				<!-- Client Section End -->

				<!-- Contact Section -->
				<section id="contact">

					<!-- Contact Form -->
					<div class="section-block replicable-content contact-2">
						<div class="row">
							<div class="column width-4">
								<h2 class="mb-30">Let's Talk</h2>
								<div class="row">
									<div class="column width-10">
										<p>Easily add additional fields, select boxes or checkboxes to the contact form without knowing any JS or PHP.</p>
										<p>126-130 Crosby Street,<br>Soho New York City,<br>NY 10012, United States.</p>
									</div>
								</div>
							</div>
							<div class="column width-8 left">
								<div class="contact-form-container pu-10">
									<form class="contact-form" action="php/send-email.php" method="post" novalidate>
										<div class="row">
											<div class="column width-6">
												<input type="text" name="fname" class="form-fname form-element large" placeholder="First Name*" tabindex="1" required>
											</div>
											<div class="column width-6">
												<input type="text" name="lname" class="form-lname form-element large" placeholder="Last Name" tabindex="2">
											</div>
											<div class="column width-6">
												<input type="email" name="email" class="form-email form-element large" placeholder="Email address*" tabindex="3" required>
											</div>
											<div class="column width-6">
												<input type="text" name="website" class="form-website form-element large" placeholder="Website" tabindex="4">
											</div>
											<div class="column width-12">
												<div class="form-select form-element large">
													<select name="options" class="form-aux" data-label="Options" tabindex="5">
														<option selected="selected" value="">Project Budget</option>
														<option value="">Less than $1000</option>
														<option value="">$1000 - $2000</option>
														<option value="">$2000 - $5000</option>
														<option value="">$5000 - $7000</option>
														<option value="">$10000 &amp; up</option>
													</select>
												</div>
											</div>
											<div class="column width-6">
												<input type="text" name="honeypot" class="form-honeypot form-element large">
											</div>
										</div>
										<div class="row">
											<div class="column width-12">
												<textarea name="message" class="form-message form-element large" placeholder="Message*" tabindex="6" required></textarea>
												<input type="submit" value="Send Email" class="form-submit button pill medium border-theme bkg-hover-theme color-theme color-hover-white">
											</div>
										</div>
									</form>
									<div class="form-response center"></div>
								</div>
							</div>
						</div>
					</div>
					<!--Contact Form End -->

					<!-- Map Section -->
					<div class="section-block no-padding">
						<div class="row collapse full-width">
							<div class="column width-12 center">
								<div class="map-container" data-coordinates="[[40.723301,-74.002988],[40.733301,-74.043988],[40.723301,-73.907888]]" data-icon='"images/assets/map-marker.png","images/assets/map-marker.png","images/assets/map-marker.png"' data-info='"Office One<br>44 St. West 32","Office Two<br>44 St. West 32","Office Three<br>44 St. West 32"' data-zoom-level="13" data-style="color">
									<div class="map-canvas" id="map-1"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Map Section End -->

				</section>

				<!-- Search Modal End -->
				<div id="search-modal" class="hide">
					<div class="row">
						<div class="column width-12 center">
							<div class="search-form-container site-search">
								<form action="#" method="get" novalidate>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<input type="text" name="search" class="form-search form-element" placeholder="type &amp; hit enter...">
												<span class="border"></span>
											</div>
										</div>
									</div>
								</form>
								<div class="form-response"></div>
							</div>
							<a href="#" class="tml-aux-exit">Close</a>
						</div>
					</div>
				</div>
				<!-- Search Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top two-columns-on-tablet">
					<div class="row flex">
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title weight-light">About</h4>
								<p>There are many multi-purpose templates; there are very few that have a strong emphasis on design. Warhol comes with a multitude of carfully designed page layouts and purpose built content blocks that when pieced together create stunning, professional layouts. The possibilities are endless. Warhol is simple, elegent and powerful!</p>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title weight-light">Warhol News</h4>
								<ul class="list-group large">
									<li>
										<a href="#">Our New Los Angeles Office </a>
										<span class="post-info"><span class="post-date">27 Jul 2014</span></span>
									</li>
									<li>
										<a href="#">Tutorial - Hidden Gems of Sublime</a>
										<span class="post-info"><span class="post-date">02 Jun 2014</span></span>
									</li>
									<li>
										<a href="#">Design Rules - Getting Back to Basics</a>
										<span class="post-info"><span class="post-date">15 May 2014</span></span>
									</li>
									<li>
										<a href="#">New Team Member - Jason Adams</a>
										<span class="post-info"><span class="post-date">15 May 2014</span></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">The Archives</h4>
								<ul class="list-group large">
									<li>
										<a href="#">February 2016</a>
									</li>
									<li>
										<a href="#">December 2015</a>
									</li>
									<li>
										<a href="#">November 2014</a>
									</li>
									<li>
										<a href="#">April 2014</a>
									</li>
									<li>
										<a href="#">February 2014</a>
									</li>
									<li>
										<a href="#">January 2014</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">Never Miss Updates</h4>
								<p class="mb-20">Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
								<div class="signup-form-container">
									<form class="signup-form" action="php/subscribe.php" method="post" novalidate>
										<div class="row">
											<div class="column width-12 left">
												<div class="field-wrapper">
													<input type="email" name="email" class="form-email form-element no-padding-left no-padding-right" placeholder="Email address*" tabindex="2" required>
												</div>
											</div>
											<div class="column width-12">
												<input type="submit" value="Signup" class="form-submit button pill bkg-charcoal-light bkg-hover-theme color-white color-hover-white">
											</div>
										</div>
										<input type="text" name="honeypot" class="form-honeypot form-element">
									</form>
									<div class="form-response show">*No spamming here.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="row">
						<div class="column width-12">
							<div class="footer-bottom-inner center">
								<p class="copyright pull-left clear-float-on-mobile">
									&copy; ThemeMountain. All Rights Reserved. <a href="#">Terms &amp; Conditions</a> | <a href="#">Cookie policy</a>
								</p>
								<ul class="social-list list-horizontal pull-right clear-float-on-mobile">
									<li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
									<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
									<li><a href="#"><span class="icon-youtube-with-circle medium"></span></a></li>
									<li><a href="#"><span class="icon-vimeo-with-circle medium"></span></a></li>
									<li><a href="#"><span class="icon-instagram-with-circle medium"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
</body>
</html>